.card {
    width: 80px;
    padding: 12px;

    & .card__title {
        color: yellow;
    }
    & .card__content {
        color: red;
    }

    .card--active,
    &:hover {
        background-color: lightgrey;
    }
}