.meme-container {
    display: flex;
    gap: 24px;

    img {
        width: 400px;
    }

    .image-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
            display: flex;
            flex-direction: column;
            gap: 4px;

            font-weight: bold;

            input {
                border: none;
                padding: 8px;
                border-radius: 4px;

                &:focus {
                    outline: 1px solid black;
                }
            }
        }

        .color-container {
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }
    }
}

@media (max-width: 800px) {
    .meme-container {
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}