// <bloque>__<elemento>--<modificador>


:root {
    --primary: #D49C5F;
    --text: #303030;
}

html {
    background-color: var(--primary);
    color: var(--text);
}

.submit-button {
    padding: 16px;
    border-radius: 4px;

    border: none;
    background-color: mediumseagreen;
    color: white;

    cursor: pointer;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: 0.8;
    }
}