// <bloque>__<elemento>--<modificador>


:root {
    --primary: #D49C5F;
    --text: #303030;
}

html {
    background-color: var(--primary);
    color: var(--text);
}

.submit-button,
.sign-out-button {
    height: 47px;
    padding: 16px;
    border-radius: 4px;

    border: none;
    color: white;

    cursor: pointer;
    text-wrap: nowrap;

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.submit-button {
    background-color: #3C6E47;

    &:hover:not(:disabled) {
        background-color: #2B5034;
    }
}

.sign-out-button {
    background-color: #D9534F;

    &:hover:not(:disabled) {
        background-color: #C9302C;
    }
}