form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .template-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        img {
            width: 400px;
        }
    }
}

@media (max-width: 800px) {
    form .template-container img {
        width: 100%;
    }
}