table {
    text-align: center;

    border-spacing: 8px;

    thead tr th {
        font-size: 20px;
    }

    tbody tr td a {
        width: 80%;
        display: inline-block;
        padding: 10px 15px;
        margin: 5px;
        font-size: 14px;
        color: white;
        background-color: #2C3E50;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #1A242F;
        }
    }
}